*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #F8FAFC;
} 
/* 页面样式 */
.course-detail-page{
    width: 1920px;
    height: 1817px;
    margin: 0px auto;
    background: #F5F5F5;
}
/* 页面头部样式 */
.page-header{
    width: 1920px;
    height: 66px;
    background: #FFFFFF;
    box-shadow: none;
    position: relative;
}
.page-header img{
    width: 63px;
    height: 44px;
    margin: 11px 1374px 11px 483px;
}
nav{
    width: 80%;
    height: 26px;
    font-size: 0;
    position: absolute;
    right: 1001px;
    bottom: 18.5px;
    left: 619px;
}
nav a{
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #3E3A3A;
    line-height: 26px;
    text-decoration: none;
    padding: 0px;
    margin: 0px 26px 0px 0px;
}
.page-header-active{
    color: #4F6FDA;
    /* left: 0; */
    position: relative;
}
.page-header-active::after{
    content: '';
    width: 40px;
    height: 6px;
    background: #4F6FDA;
    position: absolute;
    margin: 40px 0px 0px -36px;
}
nav a:nth-child(4){
    margin: 0px 29px 0px 1px;
}
/* 页面主体样式 */
.page-body{
    width: 1000px;
    height: 1644px;
    margin: 29px 460px 38px 460px;
    float: left;
}
/* 上边栏样式 */
.page-body-aside{
    width: 1000px;
    height: 344px;
    float: left;
    position: relative;
}
/* 面包屑样式 */
.breadcrumb{
    width: 80%;
    height: 16px;
    font-size: 0px;
    margin: 0px 507px 28px 0px;
}
.breadcrumb a{
    width: auto;
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #466DE1;
    line-height: 16px;
    text-decoration: none;
    margin-right: 10px;
}
.breadcrumb span{
    width: 9px;
    height: 8px;
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #707070;
    margin-right: 11px;
}
.breadcrumb span:nth-child(2){
    margin-right: 12px;
}
.breadcrumb-nooperation{
    color: #707070;
}
.course-desc{
    width: 1000px;
    height: 300px;
    background: #FFFFFF;
    display: flex;
}
.course-desc img{
    width: 400px;
    height: 240px;
    margin: 30px 0px 30px 30px;
}
.course-desc-hd{
    width: 393px;
    height: 24px;
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 23px;
    position: absolute;
    margin: 35px 156px 0px 451px;
}
.course-desc-bd{
    width: 515px;
    height: 48px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 24px;
    position: absolute;
    margin: 77px 35px 0px 450px;
}
.course-desc-ft{
    width: 167px;
    height: 74px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 14px;
    position: absolute;
    margin: 193px 383px 33px 450px;
}
.course-desc-ft div{
    margin-bottom: 16px;
}
.course-desc-btn{
    width: 180px;
    height: 50px;
    background: #466DE1;
    position: absolute;
    margin: 220px 30px 30px 790px;
    white-space: nowrap;
}
.course-desc a{
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 50px;
    padding: 13.5px 55px 13.5px 53px;
}
/* 主体样式 */
.page-body-main{
    width: 1000px;
    height: 1280px;
    margin: 20px 0px 0px 0px;
    float: left;
}
/* 课程列表样式 */
.course-list{
    width: 700px;
    height: 1280px;
    background: #FFFFFF;
    float: left;
    display: flex;
    flex-direction: column;
}
.course-item{
    width: 700px;
    height: 388px;
    margin-top: 32px;
}
.course-item:nth-child(n+2){
    height: 383px;
}
.course-item:last-child{
    margin-top: 35px;
    margin-bottom: 27px;
}
.course-item .course-item-title{
    width: 80%;
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 16px;
    padding: 0px 0px 12px 30px;
    margin: 0;
}
.course-item div{
    width: 650px;
    height: 40px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 40px;
    padding-left: 50px;
}
.course-item:first-child div:nth-child(8){
    background: #F6F8FD;
}
.course-item:nth-child(n+2) div:nth-child(2){
    margin-top: 2.5px;
}
.course-item:nth-child(n+2) div:last-child{
    margin-bottom: 2.5px;
}
.course-item:nth-child(n+2) div:nth-child(n+2){
    height: 35px;
    line-height: 35px;
}
.course-item img{
    width: 16px;
    height: 16px;
    float: right;
    margin: 12px 50px;
}
.course-item:nth-child(n+2) img{
    margin: 9.5px 50px;
}
/* 课程详情样式 */
.course-detail{
    width: 280px;
    height: 440px;
    background: #FFFFFF;
    margin: 0px 0px 0px 20px;
    float: right;
    display: flex;
    flex-direction: column;
}
.course-detail-dl{
    width: 217px;
    height: 100px;
    margin: 22px 33px 8px 30px;
}
.course-detail-dl:nth-child(3){
    height: 16px;
    font-size: 0px;
}
.course-detail-dl:nth-child(4){
    height: 80px;
    margin: 16px 33px 38px 30px;
}
.course-detail-dt{
    width: auto;
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 16px;
}
.course-detail-dl:nth-child(3) .course-detail-dt{
    width: 42px;
    display: inline-block;
}
.course-detail-dd{
    width: auto;
    height: 74px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #727171;
    line-height: 19px;
    margin-top: 10px;
}
.course-detail-dl:nth-child(3) .course-detail-dd{
    width: 50px;
    height: 16px;
    line-height: 16px;
    padding-left: 8px;
    margin: 0px;
    display: inline-block;
}
/* 相关课程样式 */
.course-related{
    width: 280px;
    height: 380px;
    background: #FFFFFF;
    margin: 20px 0px 0px 20px;
    float: right;
    display: flex;
    flex-direction: column;
}
.course-related-title{
    width: 65px;
    height: 16px;
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: bold;
    color: #333333;
    line-height: 16px;
    margin: 22px 185px 0px 30px;
}
.course-related-dl{
    width: 217px;
    height: 60px;
    margin: 12px 33px 8px 30px;
    font-size: 0px;
    position: relative;
}
.course-related-dl img{
    width: 90px;
    height: 60px;
    position: absolute;
}
.course-related-dt{
    width: 116px;
    height: 31px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 16px;
    position: absolute;
    margin: 7px 0px 22px 101px;
}
.course-related-dt:nth-child(4){
    font-family: SourceHanSansCN;
}
/* 脚部样式 */
.page-footer{
    width: 1920px;
    height: 40px;
    background: #333333;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #666666;
    line-height: 40px;
    margin: 1711px 0px 0px 0px;
}
.page-footer span{
    margin: 14px 485px 14px 460px;
}
.page-footer span:last-child{
    margin: 14px 460px 14px 0px;
}