/* 页面样式 */
.main-page{
    width: 1440px;
    height: 1401px;
    background: #F8FAFC;
}
/* 头部样式 */
/* .page-header{
    width: 1440px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}
.page-header img{
    width: 56px;
    height: 39px;
    margin: 10px 1204px 11px 180px;
} */
nav{
    width: 80%;
    height: 15px;
    position: absolute;
    top: 21px;
    right: 896px;
    bottom: 24px;
    left: 269px;
}
/* nav a{
    padding: 0;
    margin: 0 35px 0 0;
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    display: inline-block;
    float: left;
} */
nav a:nth-child(3){
    color: #35B558;
    left: 0;
}
.horizontal{
    width: 28px;
    height: 3px;
    background: #35B558;
    border-radius: 3px;
    position: absolute;
    top: 44px;
    right: 997px;
    bottom: 13px;
    left: 415px;
}
/* .avatar{
    width: 34px;
    height: 34px;
    background: #F7F7F7;
    border-radius: 17px;
    position: absolute;
    top: 13px;
    right: 180px;
    bottom: 13px;
    left: 1226px;
}
.avatar img{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    margin: 0;
} */
/* 页面主体样式 */
.page-body{
    width: 1196px;
    height: 1079px;
    margin: 20px 64px 0px 180px;
    position: relative;
}
/* 上边栏样式 */
.page-body-top-aside{
    width: 806px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    position: relative;
    margin: 0px 116px 0px 274px;
}
.top-aside-title{
    width: 34px;
    height: 14px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 13px;
    position: absolute;
    margin: 16px 0px 16px 20px;
}
.top-aside-desc{
    width: 70%;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 12px;
    position: absolute;
    margin: 17px 0px 17px 83px;
    padding-left: 16px;
    border-left: 1px solid #999999;
}
.top-aside-ft{
    width: 128px;
    height: 12px;
    position: absolute;
    margin: 17px 30px 17px 648px;
    display: flex;
}
.top-aside-ft div{
    width: 30px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 12px;
    white-space: nowrap;
}
.top-aside-ft div:first-child{
    padding-right: 24px;
}
.top-aside-ft .btn{
    content: '';
    width: 5.657px;
    height: 5.657px;
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;
    transform: rotate(135deg);
}
.top-aside-ft .btn:nth-child(2){
    margin-right: 30px;
}
/* 左边栏样式 */
.page-body-left-aside{
    width: 250px;
    height: 1079px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin: -46px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}
.left-aside{
    width: 228px;
    height: 68px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 14px;
    white-space: nowrap;
    margin: 40px 6px 0px 16px;
}
.left-aside.foreword-tech:first-child{
    margin: 24px 6px 0px 16px;
}
.left-aside .title{
    width: auto;
    height: 16px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 16px;
    white-space: nowrap;
}
.left-aside .header,.footer{
    width: 228px;
    height: 14px;
    margin: 14px 0px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
}
.left-aside .footer{
    margin: 10px 0px 0px 0px;
}
.backend-dev-bod.footer{
    margin: 8px 0px 0px 0px;
}
.left-aside .header div{
    width: auto;
    height: 14px;
    margin: 0px 20px 10px 0px;
    white-space: nowrap;
}
.left-aside .header div:hover{
    color: #35B558;
}
.left-aside .footer div:hover{
    color: #35B558;
}
.left-aside .footer .active{
    color: #35B558;
}
.left-aside .footer div{
    width: auto;
    height: 14px;
    margin: 0px 20px 0px 0px;
    white-space: nowrap;
}
.backend-dev-bod .header div:nth-child(2){
    margin: 0px 19px 0px 0px;
}
/* 主体样式 */
.page-body-main{
    width: 806px;
    height: 1017px;
    margin: -1017px 0px 0px 274px;
    display: flex;
    flex-wrap: wrap;
}
.main-item{
    width: 258px;
    height: 240px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    margin: 0px 16px 19px 0px;
}
.main-item:nth-child(3n){
    margin: 0px 0px 19px 0px;
}
.main-item-tag{
    width: 42px;
    height: 20px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
    background: linear-gradient(180deg, #E5C676 0%, #E6A23C 100%);
    position: absolute;
    margin: -3px 7px 123px 209px;
    padding: 0;
    white-space: nowrap;
}
.main-item-hd{
    width: 258px;
    height: 139px;
    position: relative;
}
.main-item-hd img{
    width: 258px;
    height: 139px;
    border-radius: 5px;
    margin: 0;
    float: left;
}
.main-item-bd{
    width: 226px;
    height: 40px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    margin: 13px 16px 0px;
}
.main-item-ft{
    width: 228px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 12px;
    display: flex;
    padding: 19px 14px 17px 16px;
    white-space: nowrap;
}
.main-item-level{
    background-image: url(./img/index_pic_level.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 15px 0px 17px;
}
.main-item-duration{
    background-image: url(./img/index_pic_duration.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 69px 0px 17px;
}
.main-item-people{
    background-image: url(./img/index_pic_people.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 5px 0px 17px;
}
/* 页脚样式 */
.page-footer{
    width: 754px;
    height: 32px;
    margin: 40px 208px 170px 482px;
}
.pagination{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 0;
    white-space: nowrap
}
.pagination a{
    width: auto;
    height: 32px;
    background: #FFFFFF;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 32px;
    text-decoration: none;
    padding: 8px 12.5px;
    margin: 0 5px 0px 0px;
}
.pagination a:first-child{
    padding: 8px 13px;
}
.pagination a:nth-child(2){
    padding: 8px 18px;
}
.pagination .active{
    background: #35B558;
    color: #FFFFFF;
}
.pagination a:nth-child(10){
    padding: 8px 15px;
    background: none;
}
.pagination a:nth-child(11){
    padding: 8px 7px;
}
.pagination a:nth-child(12){
    padding: 8px 13px;
}
.pagination a:nth-child(13){
    background: none;
    color: #333333;
    padding: 8px 15px;
}
.pagination a:nth-child(14){
    background: none;
    color: #333333;
    padding: 8px 4px;
}
.pagination a:nth-child(15){
    width: 8px;
    height: 12px;
    padding: 5px 14px;
}
.pagination a:nth-child(16){
    background: none;
    color: #333333;
    padding: 5px 4px;
}
.pagination a:nth-child(17){
    width: 32px;
    height: 22px;
    color: #999999;
    padding: 5px 4px;
}




