/* 页面 */
.index-page{
    width: 1440px;
    height: 2403px;
    background: #F8FAFC;
}
/* 头部样式 */
/* .page-header{
    width: 1440px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}
.page-header img{
    width: 56px;
    height: 39px;
    margin: 10px 1204px 11px 180px;
} */
nav{
    width: 80%;
    height: 15px;
    position: absolute;
    top: 21px;
    right: 831px;
    bottom: 24px;
    left: 269px;
}
/* nav a{
    padding: 0;
    margin: 0 35px 0 0;
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    display: inline-block;
    float: left;
}  */
nav a:first-child{
    color: #006EDA;
    left: 0;
}
.horizontal{
    width: 28px;
    height: 3px;
    background: #006EDA;
    border-radius: 3px;
    position: absolute;
    top: 44px;
    right: 1142px;
    bottom: 13px;
    left: 270px;
}
/* .avatar{
    width: 34px;
    height: 34px;
    background: #F7F7F7;
    border-radius: 17px;
    position: absolute;
    top: 13px;
    right: 180px;
    bottom: 13px;
    left: 1226px;
}
.avatar img{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    margin: 0;
} */
/* 主体样式 */
.page-body-hd{
    width: 1080px;
    height: 320px;
    margin: 20px 180px 0px;
}
.page-body-hd img{
    width: 1080px;
    height: 320px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
/* 实战营 */
.camp-section{
    width: 1080px;
    height: 380px;
    margin: 40px 180px 0px;
    position: relative;
}
.camp-title{
    width: 60px;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    margin: 0px 510px 0px;
    position: absolute;
    white-space: nowrap;
}
.camp-description{
    width: 154px;
    height: 14px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 14px;
    margin: 30px 464px 0px 462px;
    position: absolute;
    white-space: nowrap;
}
.camp-list{
    width: 1080px;
    height: 380px;
    margin: 40px 0px 0px;
    position: relative;
}
.camp-item{
    width: 532px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    position: absolute;
}
.camp-item:nth-child(1){
    margin: 64px 16px 16px 0px;
}
.camp-item:nth-child(2){
    margin: 64px 0px 16px 548px;
}
.camp-item:nth-child(3){
    margin: 230px 16px 0px 0px;
}
.camp-item:last-child{
    margin: 230px 0px 0px 548px;
}
.camp-item-hd{
    width: 240px;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    margin: 28px 0px 0px 30px;
    position: absolute;
    white-space: nowrap;
}
.camp-item-bd{
    width: 215px;
    height: 40px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    margin: 60px 0px 13px 30px;
    position: absolute
}
.camp-item-info{
    width: 139px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 12px;
    margin: 13px 0px 25px 0px;
    position: absolute;
    white-space: nowrap;
}
.camp-item-info span{
    color: #006EDA;
}
.camp-item-ft img{
    width: 108px;
    height: 125px;
    display: inline-block;
    float: left;
    margin: 25px 49px 0px 379px;
    position: absolute;
}
/* 课程 */
.course-section{
    width: 1083px;
    height: 560px;
    margin: 40px 178px 0px 179px;
    position: relative;
}
.course-title{
    width: 40px;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    margin: 40px 620px 0px 523px;
    position: relative;
    white-space: nowrap;
}
.course-description{
    width: 154px;
    height: 14px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 14px;
    margin: 10px 463px 0px 466px;
    position: absolute;
    white-space: nowrap;
}
.course-list{
    width: 1083px;
    height: 512px;
    margin: 44px 0px 0px 0px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.course-item{
    width: 258px;
    height: 240px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    margin: 0px 0px 16px 16px;
}
.course-item:nth-child(1){
    margin: 0px 0px 16px 0px;
}
.course-item:nth-child(5){
    margin: 0;
}
.course-item-tag{
    width: 42px;
    height: 20px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
    background: linear-gradient(180deg, #E5C676 0%, #E6A23C 100%);
    position: absolute;
    margin: -3px 7px 123px 209px;
    padding: 0;
    white-space: nowrap;
}
.course-item-hd{
    width: 258px;
    height: 139px;
    position: relative;
}
.course-item-hd img{
    width: 258px;
    height: 139px;
    border-radius: 5px;
    margin: 0;
    float: left;
}
.course-item-bd{
    width: 226px;
    height: 40px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    margin: 12px 16px 0px;
}
.course-item-ft{
    width: 228px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 12px;
    display: flex;
    padding: 19px 14px 17px 16px;
    white-space: nowrap;
}
.course-item-level{
    background-image: url(./img/index_pic_level.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 15px 0px 17px;
}
.course-item-duration{
    background-image: url(./img/index_pic_duration.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 66px 0px 17px;
}
.course-item-people{
    background-image: url(./img/index_pic_people.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 5px 0px 17px;
}
/* 项目挑战 */
.project-section{
    width: 1080px;
    height: 320px;
    margin: 40px 178px 0px 182px;
    position: relative;
}
.project-title{
    width: 80px;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    margin: 0px 500px 0px;
    position: relative;
    white-space: nowrap;
}
.project-description{
    width: 140px;
    height: 14px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 14px;;
    margin: 10px 470px 0px;
    position: absolute;
    white-space: nowrap;
}
.project-list{
    width: 1080px;
    height: 256px;
    margin: 44px 0px 0px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.project-item{
    width: 203px;
    height: 120px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    margin: 0px 16px 0px 0px;
}
.project-item:nth-child(5){
    margin: 0px 0px 0px 1px;
}
.project-item:nth-child(8){
    margin: 0px 0px 0px 1px;
}
.project-item:nth-child(n+6){
    margin: 16px 16px 0px 0px;
}
.project-item:last-child{
    margin: 16px 0px 0px 1px;
}
.project-item-hd{
    width: 203px;
    height: 84px;
    position: relative;
}
.project-item-hd div{
    width: 169px;
    height: 40px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    text-align: center;
    margin: 22px 18px 22px 16px;
    position: absolute;
}
.project-item-ft{
    width: 203px;
    height: 36px;
    background: #838CA1;
    border-radius: 0px 0px 5px 5px;
    position: relative;
}
.project-item-ft div{
    width: 143px;
    height: 13px;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 13px;
    margin: 12px 30px 11px;
    position: absolute;
    white-space: nowrap;
}
.project-item-ft .hidden{
    width: 52px;
    height: 13px;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 13px;
    margin: 12px 75px 11px 76px;
    position: absolute;
    display: none;
    white-space: nowrap;
}
.project-item-ft:hover{
    background: #006EDA;
}
.project-item-ft:hover div{
    display: none;
}
.project-item-ft:hover .hidden{
    display: block;
}
.project-item:nth-child(2) .project-item-ft{
    background: #006EDA;
}
.project-item:nth-child(2) .project-item-ft div{
    display: none;
}
.project-item:nth-child(2) .project-item-ft .hidden{
    display: block;
}
/* 实验 */
.lab-section{
    width: 1080px;
    height: 503px;
    margin: 40px 178px 0px 182px;
    position: relative;
}
.lab-title{
    width: 40px;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    margin: 0px 520px 0px;
    position: relative;
    white-space: nowrap;
}
.lab-description{
    width: 140px;
    height: 14px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 14px;
    margin: 10px 470px 0px;
    position: absolute;
    white-space: nowrap;
}
.lab-list{
    width: 1080px;
    height: 436px;
    margin: 47px 0px 0px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.lab-item{
    width: 203px;
    height: 210px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    margin: 0px 16px 0px 0px;
}
.lab-item:nth-child(5){
    margin: 0px 0px 0px 1px;
}
.lab-item:nth-child(8){
    margin: 0px 0px 0px 1px;
}
.lab-item:nth-child(n+6){
    margin: 16px 16px 0px 0px;
}
.lab-item:last-child{
    margin: 16px 0px 0px 1px;
}
.lab-item-tag{
    width: 42px;
    height: 20px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    background: linear-gradient(180deg, #2894FF 0%, #006EDA 100%);
    position: absolute;
    margin: -3px 10px 93px 151px;
    white-space: nowrap;
}
.lab-item-hd{
    width: 203px;
    height: 110px;
    position: relative;
}
.lab-item-hd img{
    width: 203px;
    height: 110px;
    margin: 0;
    float: left;
}
.lab-item-bd{
    width: 169px;
    height: 40px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    margin: 12px 18px 0px 16px;
}
.lab-item-ft{
    width: 180px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 12px;
    display: flex;
    padding: 19px 7px 17px 16px;
    white-space: nowrap;
}
.lab-item-level{
    background-image: url(./img/index_pic_level.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 15px 0px 17px;
}
.lab-item-duration{
    background-image: url(./img/index_pic_duration.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 21px 0px 17px;
}
.lab-item-people{
    background-image: url(./img/index_pic_people.jpg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: 0px 5px 0px 17px;
}
/* 脚部样式 */
.page-footer{
    width: 1440px;
    height: 40px;
    background: #333744;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    margin: 40px 0px 0px;
}


